/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
body {
   font-family: "Open Sans", sans-serif;
}

.container {
   margin: 0 auto;
   max-width: 1200px;
   
}

@media (max-width: 600px) {
   .container {
      max-width: 300px;
   }
}

.premium__text {
   text-align: center;
}
.premium__text-header {
   font-weight: 300;
   font-size: 30px;
   line-height: 40px;
   color: #112b42;
   margin-bottom: 20px;
}
.premium__text.premium__text-img-lotos {
   width: 30px;
   height: 30px;
}
.premium__text-description {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #a2aab0;
   margin-bottom: 30px;
}

@media (max-width: 600px) {
   .premium__text-description {
      font-size: 16px;
      line-height: 26px;
      color: #a2aab0;
      margin-bottom: 30px;
   }
}
.premium__client {
   display: flex;
   justify-content: center;
   margin-bottom: 33px;
}

@media (max-width: 600px) {
   .premium__client {
      display: none;
   }
}
.premium__client-owner {
   margin-right: 39px;
}
.premium__client-agent {
   margin-right: 39px;
}
.premium__client-builder {
}

.block__1 {
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
   gap: 20px;
}
@media (max-width: 600px) {
   .block__1 {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.premium__tariff {
   min-width: 590px;
   background: #ffffff;
   box-shadow: 0px 4px 15px rgba(0, 17, 51, 0.2);
   border-radius: 3px;
   padding: 30px 20px;
   display: flex;
   justify-content: space-between;
   position: relative;
}

@media (max-width: 600px) {
   .premium__tariff {
      min-width: 300px;
      max-height: 314px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      padding: 15px;
      text-align: center;
   }
}

.premium__tariff-block {
   margin-right: 28px;
}
@media (max-width: 600px) {
   .premium__tariff-block {
      margin-right: 0px;
   }
}

.premium__tariff-block-cotent-title {
   font-size: 24px;
   line-height: 35px;
   color: #112b42;
}
@media (max-width: 600px) {
   .premium__tariff-block-cotent-title {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      font-style: normal;
      margin-bottom: 14px;
   }
}

.premium__tariff-block-cotent-text {
   font-size: 16px;
   line-height: 26px;
   color: #112b42;
   margin-bottom: 29px;
}
@media (max-width: 600px) {
   .premium__tariff-block-cotent-text {
      font-weight: 400;
      font-size: 16px;
   }
}

.premium__tariff-block-views.premium__tariff-block-views--desktop {
}
@media (max-width: 600px) {
   .premium__tariff-block-views.premium__tariff-block-views--desktop {
      display: none;
   }
}

.premium__tariff-block-views.premium__tariff-block-views--mobile {
   display: none;
}
@media (max-width: 600px) {
   .premium__tariff-block-views.premium__tariff-block-views--mobile {
      display: inline-block;
      justify-content: center;
      margin-bottom: 8px;
   }
}

.premium__tariff-block-views {
   padding: 7px 17px;
   background: #fff1bd;
   border-radius: 50px;
   font-size: 14px;
   font-weight: 700;
   display: inline-block;
   text-align: center;
}

.premium__tariff-block-img {
   width: 216px;
   height: auto;
   box-shadow: 0px 2px 4px 0px #00113326;
   border-radius: 3px;
}

@media (max-width: 600px) {
   .premium__tariff-block-img {
      width: 120px;
      height: 100px;
      box-shadow: 0px 2px 4px 0px #00113326;
      margin-bottom: 15px;
   }
}

@media (max-width: 600px) {
   .premium__tariff.premium__tariff-autoup {
      display: none;
   }
}
